.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

data/raw/*
data/processed/*
screenshots/*
animations/*
!screenshots/*.png
!screenshots/*.txt
!animations/car_aerodynamics_rotation.gif

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/sample_cases/.gitkeep
!screenshots/.gitkeep
!animations/.gitkeep
